.app-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.card-body {
    width: 600px;
    margin: 10px !important;
}

.marvel-logo {
    width: 400px;
}

.comics-data{
    padding: 20px;
}

.spinner {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
  }